// Colors
$color-primary: #e60000;
$color-secondary: #0d0d0d;
$color-alt1: #f8c3ba;
$color-accent: #f14c00;
$color-monochrome-1: #262626;
$color-monochrome-2: #484848;
$color-monochrome-3: #6a6a6a;
$color-monochrome-4: #8c8c8c;
$color-monochrome-5: #aeaeae;
$color-monochrome-6: #f2f2f2;
$color-error: #e53935;
$color-success: green;
$color-text: black;
$color-text-inverse: white;

// Text
$font-body: 'Segoe UI', sans-serif;
$font-size-sm: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px

// Spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;

$border-radius: 6px;
$box-shadow: 5px;
