@use '../../styles/abstracts' as *;

.wrapper {
  h1 {
    text-align: center;
  }

  .form {
    border: 1px solid $color-monochrome-5;
    padding: $space-md;
    margin: $space-sm 0;
    background-color: $color-monochrome-6;
    box-shadow: 0 0 $box-shadow $color-monochrome-4;
    border-radius: $border-radius;
  }
}
